###train config file

#file path and dir
train_file=../data/conll2003/train.txt
dev_file=../data/conll2003/dev.txt
test_file=../data/conll2003/test.txt
word_embed=None
model_save_dir=snapshot/

#hyperparameters
use_char=True
word_seq_feature=LSTM
char_seq_feature=LSTM
word_embed_dim=100
char_embed_dim=50
optimizer=SGD
hidden_dim=150
fine_tune=True
char_hidden_dim=20
lstm_layer=1
bilstm=True
cnn_layer=1
dropout=0.5
lr=0.001

#other_config
dataset=conll2003
status=TRAIN